.noteHeader {
    --headerHeight: 30px;
    width: 100%;
    height: var(--headerHeight);
    padding: 3px;
    display: flex;
    align-items: center;
    background: var(--themeColor);
    @media (max-width: 700px) {
        --headerHeight: 40px;
    }
    &__pin {
        left: -2px;
        bottom: -6px;
        background: url("../../public/pushpin.png") left no-repeat;
        background-size: cover;
        width: 50px;
        height: 50px;
        margin: 12px auto 0px 0px;
    }

    &__icon {
        width: 20px;
        height: 20px;
        margin: 0px 5px;
        fill: var(--mainColor);
        cursor: pointer;
    }

    &__menu {
        display: flex;
        align-items: center;
    }
}

.dropDownMenu {
    list-style: none;
    height: var(--headerHeight);
    margin: 0px;
    padding: 0px;
    transition: 0.3s;
    display: flex;
    align-items: center;

    &:hover {
        @media (max-width: 700px) {
            transform: translateX(0px);
        }
        z-index: 1;
        background: whitesmoke;
        border-radius: 5px;
        max-width: 700px;
        .dropDownMenu__item {
            max-width: 35px;
            opacity: 1;
        }
    }

    &__item {
        &:not(:nth-child(4)) {
            opacity: 0;
            max-width: 0px;
        }
        margin: 0px 4px;
        cursor: pointer;
        width: 35px;
        max-height: var(--headerHeight);
        margin: auto;
        position: relative;
        top: 1px;
        transition: 0.3s;
    }
}

.innerMenu {
    max-height: var(--headerHeight);
    list-style: none;
    padding: 2px;
    margin: 0px;
    border-radius: 5px;
    &:hover {
        box-shadow: 3px 3px 8px #34343444, -3px -3px 8px #f5f5f544;
        max-height: 300px;
        background: #f5f5f5;
        .innerMenu__item {
            height: 25px;
            opacity: 1;
            visibility: visible;
        }
    }

    &__item {
        height: 25px;
        margin: 3px auto;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.2s;
        svg {
            display: block;
            margin: auto;
        }

        &:not(:nth-child(1)) {
            height: 0px;
            opacity: 0;
            visibility: hidden;
        }

        &--yellow {
            width: 25px;
            background-color: #ebcb33;
        }
        &--red {
            width: 25px;
            background-color: #eb4433;
        }
        &--green {
            width: 25px;
            background-color: #74eb74;
        }
        &--purple {
            width: 25px;
            background-color: #8384ab;
        }
    }
}
