div.ck.ck-reset.ck-editor.ck-rounded-corners > div.ck.ck-editor__main > div {
    background: url("../../public/hip-square.png");
    background-color: var(--backgroundColor);
    background-blend-mode: multiply;
    border: none;
}

.note {
    --themeColor: #abeebb;
    --backgroundColor: #abeebbaa;
    width: 100%;
    height: 100%;
    background: url("../../public/hip-square.png");
    background-color: var(--backgroundColor);
    background-blend-mode: multiply;
    box-shadow: 3px 3px 6px rgba(23, 23, 23, 0.15);
    transition: box-shadow 0.1s linear, transform 0.1s linear,
        background 0.1s linear;

    &::-webkit-scrollbar {
        display: none;
    }

    &--selected {
        box-shadow: 3px 3px 10px rgba(23, 23, 23, 0.6);
        transform: scale(1.01);
        z-index: 5;
    }
    &--show {
        width: 75%;
        height: 75%;
        display: block;
        margin: 4% auto auto auto;
        z-index: 50;
        transform: scale(1.1);
        @media (max-width: 700px) {
            width: 85%;
            height: 85%;
            margin: 10% auto auto auto;
            max-height: unset;
        }
    }

    &__text {
        width: 100%;
        height: calc(100% - 40px);
        word-break: break-word;
        text-overflow: clip;
        overflow: auto;
        padding: 0px 10px 10px 10px;
          ::selection{
               background-color: var(--themeColor);
               color:whitesmoke;
          }
        &::-webkit-scrollbar {
            display: none;
        }
        @media (max-width: 700px) {
            height: calc(100% - 35px);
        }
        &--edit {
            padding: 0px;
            .ck.ck-editor__top.ck-reset_all {
                position: sticky;
                top: 0px;
                left: 0px;
            }
        }
        & figure {
            margin: auto;
        }
        & table {
            border: 2px solid #343434;
            margin: auto;
            padding: 0px;
        }
        & thead {
            font-weight: bolder;
        }
        & td,
        th {
            border: 1px solid #454545;
            padding: 5px;
        }
    }
    &__wrapper {
        background-color: rgba(23, 23, 23, 0);
        transition: background 0.3s;
        @media (max-width: 700px) {
            width: 46%;
            height: 250px;
            margin: 10px auto;
        }
        @media (max-width: 420px) {
            width: 90%;
            height: 230px;
        }
        &--open {
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 49;
            width: 100%;
            height: 100%;
            margin: 0px;
            background: rgba(23, 23, 23, 0.5);
            @media (max-width: 700px) {
                width: 100%;
                height: 100%;
            }
        }
    }
}
