h1 {
    margin: 23px 0px;
}
.info {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #565656;
    position: relative;
    background: url("../../public/hip-square.png");
    width: 80%;
    height: 90%;
    margin: 1% auto auto auto;
    padding: 25px 0px 25px 25px;
    box-shadow: 3px 3px 6px #565656;
    @media (max-width: 700px) {
        width: 95%;
        height: 95%;
    }
    &__img {
        max-width: 400px;
        width: 100%;
        margin: 15px;
        float: right;
        @media (max-width: 1000px) {
            max-width: 500px;
            float: unset;
            display: block;
            margin: auto;
        }
    }
    &__list {
        li {
            margin: 30px 0px;
        }
        &--features {
            & > li:nth-of-type(1) {
                list-style: "✨";
            }
            & > li:nth-of-type(2) {
                list-style: "🎨";
            }
            & > li:nth-of-type(3) {
                list-style: "⚙";
            }
            & > li:nth-of-type(4) {
                list-style: "🕹";
            }
            & > li:nth-of-type(5) {
                list-style: "📏";
            }
            & > li:nth-of-type(6) {
                list-style: "🎹";
            }
        }
        &--shortcuts {
            li {
                margin: 10px 0px;
            }
        }
    }

    &__textWrap {
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        height: 100%;
        ::selection {
            background-color: #8384ab;
            color: whitesmoke;
        }
        &::-webkit-scrollbar {
            background: #dededede;
            width: 5px;
            &-thumb {
                background: #8384ab;
            }
        }
        &--link {
            color: #8384ab;
            transition: 0.2s;
            &:hover {
                background: #8384ab;
                color: whitesmoke;
            }
        }
        &--paragraph {
            font-size: 1.8rem;
            margin: 5px 0px 15px 20px;
            color: #676767;
            line-height: 27px;
            //   @media (max-width: 700px) {
            max-width: 750px;
            //   }
        }
        &--h4 {
            font-size: 2.1rem;
            margin: 5px 0px;
        }
    }

    &__pin {
        background-image: url("../../public/pushpin.png");
        background-position: left;
        background-size: cover;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0px;
        &--left {
            left: 3px;
        }
        &--right {
            right: -15px;
        }
    }
}
