* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position:relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Caveat, sans-serif;
  font-size: 2.2rem;
  background: url('./public/cork-board.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
